@model EIMT.Models.AddServiceProviderViewModel

@{
    ViewBag.Title = "CreateServiceProvider";
}

<h2>CreateServiceProvider</h2>

@using (Html.BeginForm("AddServiceProvider", "User", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ServiceProviderViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.UserServiceProvider.ServiceProvider, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var items = new SelectList(Model.ServiceProviders, "", "Name");
                }
                @Html.DropDownListFor(model => model.UserServiceProvider.ServiceProvider, @items)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.UserServiceProvider.UserNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserServiceProvider.UserNumber)
                @Html.ValidationMessageFor(model => model.UserServiceProvider.UserNumber)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.UserServiceProvider.LastInvoiceTotal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserServiceProvider.LastInvoiceTotal)
                @Html.ValidationMessageFor(model => model.UserServiceProvider.LastInvoiceTotal)
            </div>
        </div>
    </div>


}

<div>
    @Html.ActionLink("Back to List", "ServiceProviders", "Home")
</div>
