@model IEnumerable<EIMT.Models.AttachedServiceProviderViewModel>
@{
    ViewBag.Title = "Add service provider";
}
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add Service Provider", "AddServiceProvider", "User")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Id))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserNumber)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteServiceProvider", "User", new { spId = item.Id }, null)
            </td>
        </tr>
    }

</table>