@model IEnumerable<EIMT.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@Html.AntiForgeryToken()

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmedByAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmedByAdmin)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", "Admin", new { email=item.Email }, null) |
            @Html.ActionLink("Delete", "DeleteUser", "Admin", new { email=item.Email }, null)
        </td>
    </tr>
}

</table>
